@import url('https://fonts.googleapis.com/css?family=Muli');
html body
{
	margin-left: 216px;
	background-image: url('assets/fundo9.jpg');
	background-position: center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.table-overflow {
    max-height:350px;
    overflow-y:auto;
    margin-top: 50px;
		background-color: #ffffff;
}
.table{
	margin-right: 0px;
	padding-right: 0px;
}
.card{
	margin-top: 30px;
}
.card-body{
	white-space: nowrap;
}
.card-body input{
	text-align: center;
	width: 200px;
}
.card-header{
	height: 45px;
}

#btnsize{
	width: 100px;
}
